@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model TCC.Models.Usuario

@{ ViewData["Title"] = "Deletar conta"; }
@if (ViewData["MSG_E"] != null)
{
    <p class="alert alert-warning"> @Html.Raw(ViewData["MSG_E"]) </p>}
@if (ViewData["MSG_S"] != null)
{
    <p class="alert alert-success"> @Html.Raw(ViewData["MSG_S"]) </p>}
<div class="block-heading">
    <h2 class="text-info"><br>Deletar Conta</h2>
    <p>@Html.DisplayFor(model => Model.Nome)</p>
    <p>@Html.DisplayFor(model => Model.Email)</p>
</div>
<form asp-action="Delete">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="UsuarioId" />
    <input type="hidden" asp-for="Nome" />
    <input type="hidden" asp-for="Email" />
    <input type="hidden" name="captcha" id="captchaInput" value="" />
    <div class="form-group">
        <label asp-for="Senha" class="control-label">Confirme sua senha</label>
        <input asp-for="Senha" value="" class="form-control" id="input_password" placeholder="******" type="password" />
        <span asp-validation-for="Senha" class="text-danger"></span>
    </div>
    <input type="checkbox" onclick="alterar_senha()">
    <label> Mostrar senha</label>
    <div class="alert alert-success" role="alert" style="background: rgb(237,212,212);border-color: rgb(87,21,21);color: rgb(87,21,21);">
        <span><strong>Atenção!</strong>&nbsp;Ao deletar sua conta todos os seus produtos serão desconfigurados e depois de deletar a conta, você não poderá reveter!</span>
    </div>
    <div class="form-group">
        <input type="submit" value="Deletar" class="btn btn-danger" />
    </div>
    <a asp-action="Index"><br>Voltar</a>
</form>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://www.google.com/recaptcha/api.js?render=@Configuration["googleReCaptcha:SiteKey"]"></script>
    <script>
    grecaptcha.ready(function() {
        grecaptcha.execute('@Configuration["googleReCaptcha:SiteKey"]', { action: 'contact' }).then(function (token) {
            $("#captchaInput").val(token);
        });
    });
    </script>
}
